  <!-- DTMF Tone interface -->
  <div class="keys">
    <div class="numberBox">
      <input type="text" [(ngModel)]="fullNumber" />
      <!-- <input type="text" maxlength="10" placeholder="xxx-xxxxxxx"/> -->
    </div>
    <div class="key-row">
      <button class="btn btn-circle btn-default" (click)="clickDigit('1')">1</button>
      <button class="btn btn-circle btn-default" (click)="clickDigit('2')">2
        <!-- <span>A B C</span> -->
      </button>
      <button class="btn btn-circle btn-default" (click)="clickDigit('3')">3
        <!-- <span>D E F</span> -->
      </button>
    </div>
    <div class="key-row">
      <button class="btn btn-circle btn-default" (click)="clickDigit('4')">4
        <!-- <span>G H I</span> -->
      </button>
      <button class="btn btn-circle btn-default" (click)="clickDigit('5')">5
        <!-- <span>J K L</span> -->
      </button>
      <button class="btn btn-circle btn-default" (click)="clickDigit('6')">6
        <!-- <span>M N O</span> -->
      </button>
    </div>
    <div class="key-row">
      <button class="btn btn-circle btn-default" (click)="clickDigit('7')">7
        <!-- <span>P Q R S</span> -->
      </button>
      <button class="btn btn-circle btn-default" (click)="clickDigit('8')">8
        <!-- <span>T U V</span> -->
      </button>
      <button class="btn btn-circle btn-default" (click)="clickDigit('9')">9
        <!-- <span>W X Y Z</span> -->
      </button>
    </div>
    <div class="key-row">
      <button class="btn btn-circle btn-default" (click)="clickDigit('+')">+</button>
      <button class="btn btn-circle btn-default" (click)="clickDigit('0')">0</button>
      <button class="btn btn-circle btn-default" (click)="clickDigit('D')">D</button>
    </div>
    <div class="key-row">
      <button class="btn btn-circle btn-default" (click)="makeCall()">Call</button>
      <button class="btn btn-circle btn-default" (click)="disconnectCall()">Disconnect</button>
    </div>
    <!-- <div class="key-row">
      <button class="btn btn-circle btn-default">*</button>
      <button class="btn btn-circle btn-default" (click)="clickDigit('0')">0</button>
      <button class="btn btn-circle btn-default">#</button>
    </div>
    <div class="key-row actionBtn">
      <button class="btn btn-circle btn-default dial"><span><img src="../../assets/images/phone.png"></span></button>
      <button class="btn btn-circle btn-default phoneClose"><span><img src="../../assets/images/phone.png"></span></button>
      <button class="btn btn-circle btn-default play-pausebx"><span class="block-bx play"></span></button>
    </div> -->
    <div class="key-row actionBtn">
      <button class="btn btn-circle btn-default play-pausebx"><span class="block-bx mute unmute"></span></button>
    </div>
  </div>
